@charset "UTF-8";

.joinBtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:13px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 2px #ffffff;
}
.joinBtn:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
	color:rgb(110,110,110);
}
.joinBtn:active {
	position:relative;
	top:1px;
}

.info_check {
    margin-top:20px;
    overflow:auto;
    white-space:nowrap;
    overflow-y:scroll;
    width:530px; height:150px;
    border:1px solid rgb(117,117,117);  
    font-size:14px;
}

/* 정보찾기 버튼 */
.infoBtn {
  background:rgb(115,115,115);
  color:rgb(255,255,255);
  border:none;
  position:relative;
  font-size:16px;
  padding:2em 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.infoBtn:hover{
  background:rgb(255,255,255);
  color:rgb(115,115,115);
}
.infoBtn:before,.infoBtn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(115,115,115);
  transition:400ms ease all;
}
.infoBtn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.infoBtn:hover:before,.infoBtn:hover:after{
  width:100%;
  transition:800ms ease all;
}
