@charset "UTF-8";

/* booklist, search  */
#listimg {
	display: inline-block;
	width: 100%;
	height: 196px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 5px;
	border: 1px;
	border-color: black;
}

/* bookregister  */

#image {
	padding-top: 70px;
}