<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.markbook.mapper.adminMapper">
 
 
 	<!-- 도서 등록 -->
 	<insert id="bookRegister">
 		insert into book (b_num,b_name,b_category,b_image,b_content,b_count,
 		b_writer,b_publisher,b_regdate,b_able,b_amount) 
 		values (#{b_num},#{b_name},#{b_category},#{b_image},#{b_content},#{b_count},
 		#{b_writer},#{b_publisher},#{b_regdate},#{b_able},#{b_amount})
 	</insert>
 	
 	
 	<!-- 도서 목록 -->
 	<select id="bookList" resultType="mk_bookVO">
 		select * from book
 	</select>
 
 
 
 
 
 
 
  </mapper>
  
